.DS_Store

Autoencoders/.DS_Store
LinearRegression/.DS_Store
SupportVectorMachine/.DS_Store
NeuralNetwork/.DS_Store
LongShortTermMemory/.DS_Store
ConvolutionalNeuralNetwork/.DS_Store

Autoencoders/.ipynb_checkpoints/
NeuralNetworks/.ipynb_checkpoints/
SupportVectorMachine/.ipynb_checkpoints/
LinearRegression/.ipynb_checkpoints/
LongShortTermMemory/.ipynb_checkpoints/
ConvolutionalNeuralNetwork/.ipynb_checkpoints/
